{% load static %}
{% load i18n %}

<nav id="footnav" class="navbar navbar-expand navbar-dark">
    <ul class="navbar-nav mr-auto">
	<li class="nav-item ">
	    <a class="nav-link" href="https://piandmore.de/de/datenschutz/">Datenschutzerklärung</a>
	</li>
	
	<li class="nav-item ">
	    <a class="nav-link" href="https://piandmore.de/de/impressum/">Impressum</a>
	</li>
    </ul>
    <span class="navbar-text ml-auto">
	<a class="ml-2" href="https://github.com/PiAndMore"><span class="fab fa-lg fa-github"></span></a>
	<a class="ml-2" href="https://www.youtube.com/user/PiAndMore"><span class="fab fa-lg fa-youtube"></span></a>
	<a class="ml-2" href="https://twitter.com/PiAndMore"><span class="fab fa-lg fa-twitter-square"></span></a>
	<a class="ml-2" href="https://facebook.com/PiAndMore"><span class="fab fa-lg fa-facebook-square"></span></a>
    </span>
</nav>
{% block extrafooter %}{% endblock %}


